<div fxLayout="column">
    <div fxLayout="row" class="header-form">
        <span fxFlex>Visualizar Funcionário</span>
        <div>
            <button mat-raised-button class="form-button bgc-grey-500 tc-grey-50" (click)="onBack()">
                Voltar
            </button>
            <button mat-raised-button color="accent" (click)="navigateToEdit()">
                Editar
            </button>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center start">
        <mat-card class="background-color" fxFlex="90">

            <div fxLayout="column" fxFlex=90>
      
                <div fxLayout="column">
                        <div fxLayout="column" fxFlex=50 class="field-detail">
                            <span>ID:</span>
                            <span class="label-detail-value">{{funcionario.id}}</span>
                        </div>

                        <div fxLayout="column" fxFlex=50 class="field-detail">
                            <span>Nome:</span>
                            <span class="label-detail-value">{{funcionario.nome}}</span>
                        </div>

                        <div fxLayout="column" fxFlex=50 class="field-detail">
                            <span>Departamento:</span>
                            <span class="label-detail-value">{{funcionario.departamento?.nome}}</span>
                        </div>

                        <div fxLayout="column" fxFlex=50 class="field-detail">
                                <span>Salário:</span>
                                <span class="label-detail-value">{{funcionario.salario | currency:'BRL'}}</span>
                        </div>

                        <div fxLayout="column" fxFlex=50 class="field-detail">
                            <span>Cargo:</span>
                            <span class="label-detail-value">{{funcionario.cargo}}</span>
                        </div>

                        <div fxLayout="column" fxFlex=50 class="field-detail">
                            <span>CPF:</span>
                            <span class="label-detail-value">{{funcionario.cpf}}</span>
                        </div>

                        <div fxLayout="column" fxFlex=50 class="field-detail">
                            <span>Data de Nascimento:</span>
                            <span class="label-detail-value">{{funcionario.dataNascimento | date: 'dd/MM/yyyy'}}</span>
                        </div>

                        <div fxLayout="column" fxFlex=50 class="field-detail">
                            <span>Idade:</span>
                            <span class="label-detail-value">{{funcionario.idade}}</span>
                        </div>

                        <div fxLayout="column" fxFlex=50 class="field-detail">
                            <span>Horário de entrada e saída:</span>
                            <span class="label-detail-value">{{funcionario.horaEntrada | date: 'hh:mm'}} - {{funcionario.horaSaida | date: 'hh:mm'}}</span>
                        </div>

                        <div fxLayout="column" fxFlex=50 class="field-detail">
                            <span>Data de Demissão:</span>
                            <span class="label-detail-value">{{funcionario.dataDemissao != null ? (funcionario.dataDemissao | date: 'dd/MM/yyyy') : '-' }}</span>
                        </div>
                </div>
    
            </div>
        </mat-card>
    </div>
</div>
      
    