<div fxLayout="column">
  <div fxLayout="row" class="header-form">
    <span fxFlex>Cadastrar/Alterar Funcionario</span>
    <div>
      <button mat-raised-button class="form-button bgc-grey-500 tc-grey-50" (click)="onBack()">
        Cancelar
      </button>
      <button [disabled]="funcionarioForm.invalid" mat-raised-button color="accent" class="form-button"
        (click)="onSave()">
        Salvar
      </button>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center start">
    <mat-card class="background-color" fxFlex="90">
      <form [formGroup]="funcionarioForm" novalidate>
        <div fxLayout="column" fxFlex=90>

          <div fxLayout="column">
            <div fxLayout="row" fxFlex=50>
              <!--Nome-->
              <mat-form-field fxFlex [floatLabel]="'always'">
                <mat-label>Nome</mat-label>
                <input matInput id="nome" formControlName="nome" placeholder="Nome" layout-align="center end" required>
                <mat-error *ngIf="funcionarioForm.get('nome').hasError('maxLength')">
                  Máximo 144 caracteres.
                </mat-error>
                <mat-error *ngIf="funcionarioForm.get('nome').hasError('required')">
                  Nome é obrigatório.
                </mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="row" fxFlex=50>
              <!--Cpf-->
              <mat-form-field fxFlex [floatLabel]="'always'">
                <mat-label>CPF</mat-label>
                <input matInput id="cpf" formControlName="cpf" placeholder="CPF" layout-align="center end" required>
                <mat-error *ngIf="funcionarioForm.get('cpf').hasError('maxLength')">
                  Máximo 11 caracteres.
                </mat-error>
                <mat-error *ngIf="funcionarioForm.get('cpf').hasError('required')">
                  CPF é obrigatório.
                </mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="row" fxFlex=50>
              <!--Cargo-->
              <mat-form-field fxFlex [floatLabel]="'always'">
                <mat-label>Cargo</mat-label>
                <mat-select formControlName="cargo" placeholder="Selecione um cargo" required>
                  <mat-option *ngFor="let cargo of cargoValues" [value]="cargo">
                    {{ cargo }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="funcionarioForm.get('cargo').hasError('required')">
                  Cargo é obrigatório.
                </mat-error>
              </mat-form-field>
            </div>

            <div fxLayout="row" fxFlex=50>
              <!--Departamento-->
              <mat-form-field fxFlex [floatLabel]="'always'">
                <mat-label>Departamento</mat-label>
                <input type="text" placeholder="Selecione um departamento" matInput id="departamento"  formControlName="departamento"
                  [matAutocomplete]="autoDep" required>
                <mat-autocomplete #autoDep="matAutocomplete" [displayWith]="displayDepartamento"
                  (optionSelected)="selectDepartamento($event)">
                  <mat-option *ngFor="let item of departamentosList" [value]="item">
                    {{item.nome}}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="funcionarioForm.get('departamento').hasError('required')">
                  Departamento é obrigatório.
                </mat-error>
              </mat-form-field>
            </div>



            <div fxLayout="row" fxFlex=50>
              <!--Data de nascimento-->
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Escolha uma data" formControlName="dataNascimento" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </div>
          </div>

        </div>
      </form>
    </mat-card>
  </div>
</div>