<div fxLayout="column">
    <div fxLayout="row" class="header-form">
      <span fxFlex>Cadastrar/Alterar Funcionario</span>
        <div>
            <button mat-raised-button class="form-button bgc-grey-500 tc-grey-50" (click)="onBack()">
            Cancelar
            </button>
            <button [disabled]="funcionarioForm.invalid" mat-raised-button color="accent" class="form-button" (click)="onSave()">
            Salvar
            </button>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center start">
        <mat-card class="background-color" fxFlex="90">
            <form [formGroup]="funcionarioForm" novalidate>
                <div fxLayout="column" fxFlex=90>
  
                    <div fxLayout="column">
                            <div fxLayout="row" fxFlex=50>

                                    <mat-form-field fxFlex [floatLabel]="'always'">
                                      <mat-label>Nome</mat-label>
                                      <input matInput id="nome" formControlName="nome"
                                             placeholder="Nome"
                                             maxlength="144" layout-align="center end">
                                      <mat-error *ngIf="funcionarioForm.get('nome').hasError('maxLength')">
                                        Máximo 144 caracteres.
                                      </mat-error>
                                      <mat-error *ngIf="funcionarioForm.get('nome').hasError('required')">
                                        Nome é obrigatório.
                                      </mat-error>
                                    </mat-form-field>
                                  </div>
                                 
                                  <div fxLayout="row" fxFlex=50>
                                    <mat-form-field fxFlex [floatLabel]="'always'">
                                      <mat-label>Departamento</mat-label>
                                      <textarea matInput id="departamento" formControlName="departamento"
                                      placeholder="Departamento"></textarea>
                                      
                                      
                                    </mat-form-field>
                                  </div>
                                </div>

                </div>
            </form>
        </mat-card>
    </div>
</div>
  
